<div class="card">
    <div class="card-body">
        <h5 class="card-title">Produtos</h5>

        <div class="row">
            <div class="form-group col-12">
                <label for="nome" class="control-label">Nome: </label>
                <input type="text" class="form-control" [(ngModel)]='nome'>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="pesquisar()">Pesquisar</button>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive col-md-12">
                <table class="table table-bordered text-center">
                    <thead class="table-primary">
                        <tr>
                            <th></th>
                            <th>Codigo</th>
                            <th>Nome</th>
                            <th>Cidade</th>
                            <th>Observação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let produto of listaproduto">
                            <th><input type="radio" name="selecionado" (change)=selecionar(produto)></th>
                            <th>{{produto.codigo}}</th>
                            <td>{{produto.nome}}</td>
                            <td>{{produto.valor}}</td>
                            <td>{{produto.observacao}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <button class="btn btn-primary mr-3" (click)='incluir()'>Incluir</button>
                <button class="btn btn-primary mr-3" (click)='alterar()'>Alterar</button>
                <button class="btn btn-danger mr-3" (click)='excluir()'>Excluir</button>
            </div>
        </div>

    </div>
</div>